<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form>

{% for item in items %}
  <h1> {{ item.name }} </h1>
  <p> {{ item.description }} <p>
{% endfor %}



<!--<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">-->
<!--<html> <head>-->
<!--<title>ACP Controle Times</title>-->

<!--  &lt;!&ndash; 'viewport' is used by bootstrap to respond to device size &ndash;&gt;-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--  &lt;!&ndash; Javascript:  JQuery from a content distribution network (CDN) &ndash;&gt;-->
<!--  <script-->
<!--     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">-->
<!--  </script>-->

<!--  &lt;!&ndash; Bootstrap includes javascript and css  (must follow jquery) &ndash;&gt;-->
<!--  <link rel="stylesheet"-->
<!--   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<!--   <script-->
<!--    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">-->
<!--   </script>-->

<!--  &lt;!&ndash; moment.js is the JavaScript equivalent of arrow.py &ndash;&gt;-->
<!--  <script-->
<!--    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>-->

<!--</head>-->

<!--   &lt;!&ndash; Our own style sheet &ndash;&gt;-->
<!--   <link rel="stylesheet" href="/static/css/calc.css" />-->

<!--<body>-->
<!--&lt;!&ndash; bootstrap requires a 'container' div around content &ndash;&gt;-->
<!--<div class="container">-->

<!--<h1>ACP Brevet Times</h1>-->
<!--  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>-->

<!--  &lt;!&ndash;-->
<!--  &#45;&#45; If there are any warnings or other messages from a prior-->
<!--  &#45;&#45; request to the server,-->
<!--  &#45;&#45; they appear above the rest of the content, just until the next-->
<!--  &#45;&#45; action.  (This is only on request/response transactions that-->
<!--  &#45;&#45; result in regenerating the page, not on every xmlhttp request.)-->
<!--  &ndash;&gt;-->

<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for message in messages %}-->
<!--      <li>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->

<!--&lt;!&ndash; Design on bootstrap grid &ndash;&gt;-->
<!--<form role="form">-->
<!--<div class="row">-->
<!--  <div class="col-md-4">-->
<!--    <label>Distance</label>-->
<!--  <select name="distance" id="brevet_dist_km">-->
<!--    <option value="200">200km</option>-->
<!--    <option value="300">300km</option>-->
<!--    <option value="400">400km</option>-->
<!--    <option value="600">600km</option>-->
<!--    <option value="1000">1000km</option>-->
<!--  </select>-->
<!--  </div> &lt;!&ndash; columns 1&#45;&#45;4  &ndash;&gt;-->
<!--  <div class="col-md-6">-->
<!--    <label>Begins at</label>-->
<!--    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />-->
<!--    <input type=time name="begin_time" id="begin_time" value="00:00"    />-->
<!--  </div> &lt;!&ndash; columns 5-10 &ndash;&gt;-->
<!--  </div> &lt;!&ndash; row &ndash;&gt;-->

<!--  <br />  &lt;!&ndash; Cosmetic &#45;&#45; a little vertical space &ndash;&gt;-->
<!--  &lt;!&ndash; Although we do not use tables for general page layout, they are-->
<!--       appropriate for something that really is a table, like this-->
<!--       one.  We allocate it the full 12 columns of the bootstrap grid.-->
<!--  &ndash;&gt;-->
<!--  <div class="row">-->
<!--  <div class="col-md-12">-->
<!--  <table class="control_time_table">-->
<!--      <tr>-->
<!--	<th> Miles </th>-->
<!--	<th> Km </th>-->
<!--	<th>Location</th>-->
<!--	<th>Open</th>-->
<!--	<th>Close</th>-->
<!--	<th>Notes</th>-->
<!--      </tr>-->
<!--   {% for row in range(20) %}-->
<!--    <tr class="control">-->
<!--      &lt;!&ndash; Dist (mi) &ndash;&gt;-->
<!--      <td><input name="miles" type="number"-->
<!--           min="0" max="900" size="5" /></td>-->
<!--      &lt;!&ndash; Dist (km) &ndash;&gt;-->
<!--      <td><input name="km" type="text"-->
<!--	   min="0" max="1100" size="5" /> </td>-->
<!--      &lt;!&ndash; Location (optional) &ndash;&gt;-->
<!--      <td><input name="location" type="text"-->
<!--        placeholder="Optional location name"-->
<!--	size="20" /> </td>-->
<!--      &lt;!&ndash; Open time (read only, set by JavaScript function &ndash;&gt;-->
<!--      <td><input name="open" type="datetime" value="" readonly /></td>-->
<!--      &lt;!&ndash; Close time (read only, set by JavaScript function &ndash;&gt;-->
<!--      <td><input name="close" type="datetime" value="" readonly /></td>-->
<!--      &lt;!&ndash; Notes (error messages for this row) &ndash;&gt;-->
<!--      <td class="notes"> &nbsp; </td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--  </table>-->
<!--  </div> &lt;!&ndash; col &ndash;&gt;-->
<!--  </div> &lt;!&ndash; row &ndash;&gt;-->
<!--</form>-->

<!--<script type="text/javascript">-->

<!--  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;-->
<!--  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";-->

<!--  // Pass calctimes a <td> element containing the data for a control.-->
<!--  // It extracts the distance and calls the server to get times to-->
<!--  // fill in open and close times in a human-readable format.-->
<!--  // (If we want to also keep the ISO-formatted times, we'll need to-->
<!--  // stash them in hidden fields.)-->
<!--  function calc_times(control) {-->
<!--    var km = control.find("input[name='km']").val();-->
<!--    var open_time_field = control.find("input[name='open']");-->
<!--    var close_time_field = control.find("input[name='close']");-->
<!--    //added code here, remember this-->
<!--    var distance = $("#brevet_dist_km").val() //distance variable-->
<!--    var start = $("#begin_date").val() //beginning date variable-->

<!--    $.getJSON(TIME_CALC_URL, { km: km },-->
<!--      // response handler-->
<!--      function(data) {-->
<!--         var times = data.result;-->
<!--         console.log("Got a response: " +  times);-->
<!--         console.log("Response.open = " + times.open);-->
<!--         open_time_field.val( moment(times.open).format("ddd M/D H:mm"));-->
<!--         close_time_field.val( moment(times.close).format("ddd M/D H:mm"));-->
<!--       } // end of handler function-->
<!--     );// End of getJSON-->
<!--    }-->

<!--  $(document).ready(function(){-->
<!--   // Do the following when the page is finished loading-->

<!--      $('input[name="miles"]').change(-->
<!--         function() {-->
<!--             var miles = parseFloat($(this).val());-->
<!--             var km = (1.609344 * miles).toFixed(1) ;-->
<!--             console.log("Converted " + miles + " miles to " + km + " kilometers");-->
<!--             var control_entry = $(this).parents(".control")-->
<!--             var target = control_entry.find("input[name='km']");-->
<!--             target.val( km );-->
<!--             // Then calculate times for this entry-->
<!--             calc_times(control_entry);-->
<!--          });-->

<!--      $('input[name="km"]').change(-->
<!--         function() {-->
<!--             var km = parseFloat($(this).val());-->
<!--             var miles = (0.621371 * km).toFixed(1) ;-->
<!--             console.log("Converted " + km + " km to " + miles + " miles");-->
<!--             var control_entry = $(this).parents(".control")-->
<!--             var target = control_entry.find("input[name='miles']");-->
<!--             target.val( miles );-->
<!--             // Then calculate times for this entry-->
<!--             calc_times(control_entry);-->
<!--          });-->

<!--     });   // end of what we do on document ready-->

<!--</script>-->

<!--</div>-->
<!--</body> </html>-->
<!--=======-->
<!--<form action="/new" method="POST">-->
<!--  <input type="text" name="name"></input>-->
<!--  <input type="text" name="description"></input>-->
<!--  <input type="submit"></input>-->
<!--</form>-->

<!--{% for item in items %}-->
<!--  <h1> {{ item.name }} </h1>-->
<!--  <p> {{ item.description }} <p>-->
<!--{% endfor %}-->
<!-- -->
